.leaflet-container {  /* all maps */
        width:  1000px;
        height: 1000px;
    }




.button-green {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
.button-green-small {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 2px 2px;
}


.button-blue {
  background-color: #0483aa;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
}

.button-red {
  background-color: #ff3c3c;
  border: none;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 2px 2px;
}

.button-blue-big {
  background-color: #0483aa;
  border: none;
  color: white;
  padding: 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin: 1% 1%;
}

.box-scroll{
  border: 1px solid #333333;
  overflow: scroll;
  height: 15vh;
  width: 94%;
  margin: 3%;
}
  /*width: 80%;*/
  /*height: 80%;*/