<!DOCTYPE html>
{% load leaflet_tags %}
{% load geojson_tags %}
{% load mytags %}

<html lang="en">
<head>
    {% csrf_token %}
    <meta charset="UTF-8">
    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
    {% leaflet_js %}
    {% leaflet_css %}
    <title>Журнал</title>
    <!--    styles-->
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/leaflet_custom.css">
    <link rel="stylesheet" type="text/css" href="/static/src/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="/static/datepicker-widget.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-4.0.0/css/bootstrap.min.css">
    <!--    lib scripts-->
    <script src="/static/src/jquery-3.2.1.min.js"></script>
    <script src="/static/src/popper.min.js"></script>
    <script src="/static/bootstrap-4.0.0/js/bootstrap.min.js"></script>
    <script src="/static/src/moment-with-locales.min.js"></script>
    <script src="/static/src/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/src/datepicker-widget.js"></script>
    <script src="static/js/howler.min.js"></script>
    <!--local scripts-->
    <script type="text/javascript" src="/static/utils.js"></script>
    <script type="text/javascript" src="/static/journal.js"></script>
    <script type="text/javascript">
        const chosen_complex_to_show = "{{ chosen_complex_to_show }}";
        const chosen_map_link = "{{ chosen_map_link }}";
        const map_link_default = "{{ map_link_default }}";
    </script>
</head>
<body style="text-align: left;  background: rgba(113,129,132,0.24)  ">
<div class="everything">
    <div class="map-info" style="margin: 1%">
        <div class="row">
            <div class="col-10 ">
                <div class="map-box" style="height: 75%; width:100%; solid:#ffffff">
                    <div class="row" style="margin: 1%">
                        <a href="menu">
                            <img src="static/icons/str_logo.png" alt="on" style="max-width: 40px;">
                        </a>

                        <a href="menu">
                            <button class="button-black" style="margin-left: 10px"> Меню</button>
                        </a>

                        <a href="main">
                            <button class="button-black"> Главная</button>
                        </a>

                        {% if page_picked == 'journal' or page_picked == 'choose_drone_toshow'%}
                        <a href="journal" method='POST'>
                            <button class="button-page-picked"> Журнал</button>
                        </a>
                        {% else %}
                        <a href="journal" method='POST'>
                            <button class="button-black"> Журнал</button>
                        </a>
                        {% endif %}
                        <a href="configuration" method='GET'>
                            <button class="button-black"> Конфигуратор</button>
                        </a>
                        <a href="admin" method='GET'>
                            <button class="button-black"> Администратор</button>
                        </a>
                        <form action="get_map_form" method="post">
                            {% csrf_token%}
                            {{map_form}}
                        </form>

                    </div>
                    <div class="leaflet-container" style="border: 0.5vh " id="map">

                        <script type="text/javascript">
                            map_init_basic()
                        </script>
                    </div>


                </div>

            </div>
            <div class="col-2">
                <div class="filters-all" style="height: 60vh;">

                    <!--                </div> border: 0.5vh solid #dedddd">-->
                    <div class="export-csv" style="margin-left: 5%;margin-top: 1%">
                        <div class="functions-cont" style="margin-top: 3%; ">
                            <div class="row" style="margin-top: 20%;">
                                {% if not filtered_strizhes %}
                                <div class="row" style="margin-left: 5%; align-items:center; width: 80%">
                                    <h3>
                                        Стрижи
                                    </h3>
                                    <form action="filter_nomer_strizha" method="post">
                                        {% csrf_token %}

                                        {{ form_filter }}
                                    </form>
                                </div>
                                {% endif %}
                            </div>
                            <div class="row" style="margin-left: 0">
                                {% if filtered_strizhes %}
                                <h5 style="text-align: center; font-size: 22px; ">
                                    Выбрано:
                                </h5>
                                <br>
                                <h5 style="text-align: left; color: #1d3e81;font-size: 22px">
                                    {% for f_str in filtered_strizhes %}
                                    {% if filtered_strizhes.count == 1 %}
                                    {{f_str}}
                                    {% elif filtered_strizhes.count > 1 %}
                                    {{f_str}}<br>
                                    {% endif %}
                                    {% endfor %}
                                </h5>
                            </div>
                            <div class="row" style="margin-left: 0">
                                <div class="span12 text-center">
                                    <!--                                <h5>-->
                                    <form action="reset_filter_strizh" method="get"
                                          style="align-content: center; justify-content: center">
                                        {% csrf_token %}
                                        <button class="btn btn-primary">
                                            выбрать другие
                                        </button>

                                    </form>
                                </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="functions-skypoint" style="margin-top: 3%; ">
                            <div class="row" style="margin-top: 2%; ">
                                {% if not filtered_skypoints %}
                                <div class="row" style="margin-left: 5%; align-items:center; width: 80%">
                                    <h3>
                                        Skypoint
                                    </h3>

                                    <form action="filter_nomer_skypoint" method="post">
                                        {% csrf_token %}

                                        {{ form_filter_skypoint }}
                                    </form>
                                </div>
                                {% endif %}
                            </div>
                            <div class="row" style="margin-left: 0">
                                {% if filtered_skypoints %}
                                <h5 style="text-align: center; font-size: 22px">
                                    Skypoint:
                                </h5>

                                <h5 style="text-align: left; color: #1d3e81;font-size: 22px">
                                    {% for f_str in filtered_skypoints %}
                                    {% if filtered_skypoints.count == 1 %}
                                    {{f_str}}
                                    {% elif filtered_skypoints.count > 1 %}
                                    {{f_str}}, <br>
                                    {% endif %}
                                    {% endfor %}
                                </h5>
                            </div>
                            <div class="row" style="margin-left: 0">
                                <div class="span12 text-center">

                                    <form action="reset_filter_skypoint" method="get"
                                          style="align-content: center; justify-content: center">
                                        {% csrf_token %}
                                        <button class="btn btn-primary">
                                            выбрать другие
                                        </button>

                                    </form>
                                </div>
                                {% endif %}
                            </div>
                        </div>

                        <form action="apply_period" method="post">
                            {% csrf_token %}
                            <h4 style="color: #72849e">
                                Начало
                            </h4>
                            {{ form_time_pick.datetime_start }}
                            <h4 style="color: #72849e">
                                Конец
                            </h4>
                            {{ form_time_pick.datetime_end }}
                            <!--                            <input type="submit" class="btn btn-primary"-->
                            <!--                                   name="start_datetime" value="Применить" style="margin-top: 3%;font-size: 16px"/>-->

                        </form>
                        <h5 style="margin-top: 1%">
                            Отсортировать по:
                        </h5>
                        <form action="apply_filter_table" method="post">
                            {% csrf_token %}

                            {{form_filter_table}}
                        </form>
                        <form action="apply_order_table" method="post" style="margin-top: 2%; ">
                            {% csrf_token %}

                            {{form_order_table}}
                            <!--                            <button class="btn btn-primary" type='submit'-->
                            <!--                                            style="margin-left: 1%;font-size: 16px"> Применить-->
                            <!--                                    </button>-->
                        </form>

                        <div class="row"
                             style="margin-top: 3%; justify-content: left;">
                            <div class="row text-center" style="margin-left: 5%">

                                <!--                            <div class="col-4">-->
                                <form action='reset_filter' method='post'>
                                    {% csrf_token %}
                                    <button class="btn btn-danger" id="journal_button1" type='submit'> Сбросить
                                    </button>
                                </form>

                                <!--                            <div class="col-4">-->
                                <form action="export_csv" method='GET' style="margin-left:10px">
                                    <!--                                    <button class="button-green-csv"> Экспорт CSV-->
                                    <button class="btn btn-success" id="journal_button2"> Экспорт CSV
                                    </button>
                                </form>

                                <!--                            <div style="margin-left: 2%; margin-top: 1%">-->
                                <!--                                <form action="filter_all" method='POST'>-->
                                <!--                                    {% csrf_token %}-->
                                <!--                                    <button class="btn btn-primary" id="journal_button3"> Фильтр-->
                                <!--                                    </button>-->
                                <!--                                </form>-->
                                <!--                            </div>-->
                            </div>
                            <div class="row text-left" style="margin-left: 5%">


                                <!--                            <div class="col-4">-->
                                <form action="journal" method='GET' style="margin-top: 10px;">
                                    <!--                                    <button class="button-green-csv"> Экспорт CSV-->
                                    <button class="btn btn-dark" id="journal_button3"> Обновить страницу
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
        <div class="row" style="height: 100%; width:100%; margin-top: 14px;margin-left: 0px; border: 0.5vh">
            <div class="information-bottom-left">


                <!--                <form action="" method="post">-->

                <div class="row">
                    <div class="col-12 ">

                        <div id="detections" style="margin: 10px 0;
                    width: 99%; ">
                            {% if all_drones_res.count != 0 %}

                            <table id="detections_table">
                                <thead>
                                <tr>
                                    <th>Время</th>
                                    <th>Имя дрона</th>
                                    <th>ID дрона</th>
                                    <th>Имя поста</th>
                                    <th>Высота, м</th>
                                    <th>Хост</th>
                                    <th>Несущая частота (ГГц)</th>
                                    <th>Полоса проп. (МГц)</th>
                                    <th>Радиус, м</th>
                                    <th>Азимут &deg</th>
                                    <th>Комментарий</th>
                                    <th>Отобразить</th>
                                </tr>
                                </thead>
                                <tbody style="height: 400px">

                                {% for dron in all_drones_res %}
                                <tr>
                                    <td>{{dron.current_time}}</td>
                                    <td>{{dron.system_name}}</td>
                                    <td>{{dron.drone_id}}</td>
                                    <td>{{dron.strig_name}}</td>
                                    <td>{% widthratio dron.height 1 1 %}</td>
                                    <td>{{dron.ip}}</td>
                                    <td>{{ dron.center_freq|division3:1e9 }}</td>
                                    <td>{% widthratio dron.brandwidth 1e6 1 %}</td>
                                    <td>{% widthratio dron.area_radius_m 1 1 %}</td>
                                    <td>{{ dron.azimuth|get_int }}</td>
                                    <td>{{dron.comment_string}}</td>
                                    <form action="choose_drone_toshow" method="post">
                                        {% csrf_token %}
                                        <td>
                                            {% if dron.drone_id != '0' and dron.drone_id != 0 %}
                                            <button type="submit" class="btn btn-primary" name="drone_id"
                                                    value="{{ dron.drone_id }}"> Траектория
                                            </button>
                                            {% else %}
                                            <button type="submit" class="btn btn-primary" name="detection_id"
                                                    value="{{ dron.pk }}"> Радиус
                                            </button>
                                            {% endif %}
                                        </td>
                                    </form>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% else %}

                    <div style="width: 100vh">
                        <h2 style="color: #3b3b3b;text-align:  center; margin-top: 40px">
                            По выбранным критериям ничего не найдено
                        </h2>
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<script>

</script>

</body>

</html>
