<!DOCTYPE html>
{% load leaflet_tags %}
{% load geojson_tags %}
{% load mytags %}


<html>
<head>

    <title>Главная страница</title>
    <script src="static/src/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/bootstrap-4.0.0/css/bootstrap.min.css">
    <script src="static/bootstrap-4.0.0/js/bootstrap.min.js"></script>
    <script src="static/js/howler.min.js"></script>


    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.1/howler.min.js"></script>-->
    <meta charset=utf-8>

    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
    {% leaflet_js %}
    {% leaflet_css %}
    {% csrf_token %}

    <script type="text/javascript" src="static/main.js"></script>
    <script type="text/javascript" src="static/utils.js"></script>
    <script>
        const complex_state = JSON.parse("{{ complex_state_json|escapejs }}");
        const complex_mode = JSON.parse("{{ complex_mode_json|escapejs }}");
        const chosen_strizh = JSON.parse("{{ chosen_strizh_json|escapejs }}");

        const chosen_map_link = "{{ chosen_map_link }}";
        const map_link_default = "{{ map_link_default }}";

        // var btn_green = document.getElementById("btn_green");
        // btn_green.addEventListener("click", function () {
        //     this.classList.add("active");
        // });
    </script>

</head>
<body style="background-color:rgba(113,129,132,0.14);">
<!--<body style="text-align: left;  background: rgba(113,129,132,0.14) url(static/icons/strizh3.png); ">-->
<div class="everything">
    <div class="map-info" style="margin: 1%">

        <div class="row">
            <div class="col-10 ">
                <div class="map-box" style="height: 70%; width:100%; solid:#ffffff">
                    <div class="row" style="margin: 1%">
                        <a href="menu">
                            <img src="static/icons/str_logo.png" alt="on" style="max-width: 40px;">
                        </a>
                        <a href="menu">
                            <button class="button-black" style="margin-left: 10px"> Меню</button>
                        </a>
                        {% if page_picked == 'main' %}
                        <a href="main" method='GET'>
                            <button class="button-page-picked"> Главная</button>
                        </a>
                        {% else %}
                        <a href="main">
                            <button class="button-black"> Главная</button>
                        </a>
                        {% endif %}

                        <a href="journal" method='GET'>
                            <button class="button-black"> Журнал</button>
                        </a>
                        <a href="configuration" method='GET'>
                            <button class="button-black"> Конфигуратор</button>
                        </a>
                        <a href="admin" method='GET'>
                            <button class="button-black"> Администратор</button>
                        </a>

                        <form action="get_map_form" method="post">
                            {% csrf_token%}
                            {{map_form}}
                        </form>

                    </div>
                    <div class="leaflet-container" style="border: 0.5vh" id="map">
                        <script type="text/javascript">
                            map_init_basic()
                        </script>
                    </div>
                </div>

            </div>
            <div class="col-2">
                <div class="row">
                    <div class="strizhes-all" style="height: 30%; ">
                        <!--border: 0.5vh solid rgb(255,255,255)">-->
                        <div class="strizh" style="margin-left: 5%;margin-top: 10%">

                            <div class="row" style="margin-top: 2%;margin-left: 1%">

                                <div style="width: 200px">
                                    <h4>
                                        Управление
                                    </h4>
                                </div>
                                <h5>
                                    <form action="choose_nomer_strizha" method="post">
                                        {% csrf_token %}
                                        {{ form }}
                                        {% csrf_token %}
                                        <div class="row" style="margin-top: 5%;margin-left: 0">
                                            {% csrf_token %}
                                            <button class="btn btn-primary" name="choose_all_strizhes"
                                                    id="choose_all_strizhes" type="submit">
                                                Управление всеми стрижами
                                            </button>
                                        </div>
                                    </form>
                                </h5>
                            </div>
                            <!--                            <div class="row" style="margin-left: 2%">-->
                            <div class="row" style="margin-top:1%;margin-left: 1%">
                                <h5 style="text-align: left; width: 250px ">

                                    {% if chosen_strizh != all_strizhes %}
                                    Выбран
                                    {% for striz in chosen_strizh %}
                                    {% if striz != 'None' %}
                                    {{ striz }}
                                    {% endif %}
                                    {% endfor%}
                                    {% else %}
                                    {% if chosen_strizh|length == 1 %}
                                    {% for striz in chosen_strizh %}
                                    Выбран {{ striz }}
                                    {% endfor %}

                                    {% else %}
                                    Выбраны все
                                    {% endif %}
                                    {% endif %}
                                </h5>
                            </div>

                            <div class="strizh-each" style="margin-left: 6%">
                                <div class="row">

                                    {% if button_complex != 'red_scan' %}
                                    <form action='butt_scan' method='GET'>
                                        <button class="button-green" style="width: 125px;" type='submit'>
                                            Сканирование
                                        </button>
                                    </form>
                                    {% else %}
                                    <form action='butt_scan' method='GET'>
                                        <button class="button-green-red" style="width: 125px;" type='submit'>
                                            Сканирование
                                        </button>
                                    </form>
                                    {% endif %}
                                    {% if button_complex != 'red_jammer' %}
                                    <form action='butt_glush' method='GET'>
                                        <button class="button-green" style="width: 113px; margin-left: 5%"> Подавление
                                        </button>
                                    </form>
                                    {% else %}
                                    <form action='butt_glush' method='GET'>
                                        <button class="button-green-red" style="width: 113px; margin-left:5%">
                                            Подавление
                                        </button>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div id="information-right" style="height: 65%; margin-top: 2%; width: 95%">
                        <!--                    border: 0.5vh solid rgb(255,255,255)">-->

                        {% if chosen_strizh != all_strizhes or all_strizhes|length == 1 %}
                        <div id="srizh_condition" style="margin: 2% 7%">

                            <h6 class="onestrizh"></h6>
                            <!--                            <h6 class="strig_name"></h6>-->
                            <!--                            <h6 class="temperature_val"></h6>-->
                            <!--                            <h6 class="humidity_val"></h6>-->
                            <!--                            <h6 class="cooler"></h6>-->
                            <script>
                                get_conditions()
                            </script>
                        </div>

                        {% elif chosen_strizh == all_strizhes %}
                        <div class="row">
                            <div class="box-scroll" id="multi_conditions"
                                 style="height: 180px; width:250px; margin: 2% 10%; background-color: #F6F6F6FF;justify-content: left">

                                <h6 class="onestrizh"></h6>
                                <!--                                <h6 class="strig_name"></h6>-->
                                <!--                                <h6 class="temperature_val"></h6>-->
                                <!--                                <h6 class="humidity_val"></h6>-->
                                <!--                                <h6 class="cooler"></h6>-->
                                <script>
                                    get_conditions()
                                </script>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">

                            <div class="box-scroll"
                                 style="height: 100px; width:250px; margin: 2% 10%; background-color: #F6F6F6FF; justify-content: left">

                                    {% for el in logs_list reversed %}
                                    {{ el }} <br>
                                    {% endfor %}

                            </div>

                        </div>

                        <div class="row" style="width:95%; margin-left: 6%; margin-top: 1%; justify-content: left">
                            <form action='turn_on_bp' method='GET'>
                                {% if chosen_strizh != all_strizhes %}
                                {% for striz in chosen_strizh %}
                                {% if striz != 'None' %}
                                <button class="btn btn-success" style="width: 250px;font-size: 14px">
                                    Включение {{striz}}
                                </button>
                                {% endif %}
                                {% endfor %}
                                {% else %}
                                <button class="btn btn-success" style="width: 250px; font-size: 14px">Включение
                                    комплекса
                                </button>
                                {% endif %}
                            </form>
                        </div>
                        <div class="row" style="width:95%; margin-left: 6%; margin-top: 1%;justify-content: left">
                            <form action='turn_off_bp' method='GET'>
                                {% if chosen_strizh != all_strizhes %}
                                {% for striz in chosen_strizh %}
                                {% if striz != 'None' %}
                                <button class="btn btn-danger" style="width: 250px; font-size: 14px">
                                    Выключение {{striz}}
                                </button>
                                {% endif %}
                                {% endfor %}
                                {% else %}
                                <button class="btn btn-danger" style="width: 250px;font-size: 14px">
                                    Выключение комплекса
                                </button>
                                {% endif %}
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="information-bottom-left" style="height: 5%; margin-top: 1%; border: 0.5vh">
            <!--            <h3> Информация о засечках </h3>-->
            <div id="detections" style="margin: 1% 0;
                    ;">
                <table id="detections_table">
                    <thead>
                    <tr>
                        <th>Время</th>
                        <th>Имя дрона</th>
                        <th>ID дрона</th>
                        <th>Имя поста</th>
                        <th>Высота, м</th>
                        <th>Хост</th>
                        <th>Несущая частота (ГГц)</th>
                        <th>Полоса проп. (МГц)</th>
                        <th>Радиус, м</th>
                        <th>Азимут &deg</th>
                        <th>Комментарий</th>
                    </tr>
                    </thead>
                    <tbody style="height: 300px">
                    {% for dron in all_drones_res%}
                    <!--                                <tbody class="scrollContent">-->

                    <tr>
                        <td>{{dron.current_time}}</td>
                        <td>{{dron.system_name}}</td>
                        <td>{{dron.drone_id}}</td>
                        <td>{{dron.strig_name}}</td>
                        <td>{% widthratio dron.height 1 1 %}</td>
                        <td>{{dron.ip}}</td>
                        <td>{{ dron.center_freq|division3:1e9 }}</td>
                        <td>{% widthratio dron.brandwidth 1e6 1 %}</td>
                        <td>{% widthratio dron.area_radius_m 1 1 %}</td>
                        <td>{{ dron.azimuth|get_int }}</td>
                        <td>{{dron.comment_string}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
</body>
</html>
