<!DOCTYPE html>
{% load leaflet_tags %}
{% load geojson_tags %}

<html>
<head>

    <title>Конфигурация</title>
    <script src="static/src/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/bootstrap-4.0.0/css/bootstrap.min.css">
    <script src="static/bootstrap-4.0.0/js/bootstrap.min.js"></script>
    <meta charset=utf-8>

    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
    {% leaflet_js %}
    {% leaflet_css %}
    {% csrf_token %}

</head>
<body style="text-align: left;  background: rgba(113,129,132,0.14) url(static/icons/strizh6.png); ">
<div class="everything" style="margin: 1%">
    <div class="row" style="margin: 1%">
        <a href="menu">
            <img src="static/icons/asb2.png" alt="on" style="max-width: 40px;">
        </a>

        <form action="menu" method='GET'>
            <button class="button-black" style="margin-left: 10px"> Меню</button>
        </form>
        <form action="main" method='GET'>
            <button class="button-black"> Главная</button>
        </form>
        <form action="journal" method='GET'>
            <button class="button-black"> Журнал</button>
        </form>
        <form action="configuration" method='GET'>
            <button class="button-black"> Конфигуратор</button>
        </form>
        <form action="admin" method='GET'>
            <button class="button-black"> Администратор</button>
        </form>
    </div>

    <div class="row">
        <h2 style="margin: 30px 100px">
            Просмотр блоков АПЕМ, Шелест
        </h2>
    </div>
    <div class="row" style="margin: 20px 100px">
        <form action="new_apem" method="post">
            {% csrf_token %}
            <button class="button-blue-small">
                Добавить новый блок
            </button>
        </form>
    </div>

    <div class="row">

        <!--            <div id="apems" class="box-scroll" style="width: 800px; height: 400px; background-color: rgb(255,255,255);-->
        <!--                    margin: 30px 30px">-->
        <div class="row" style="margin-left: 100px">
            {% load mytags %}
            <!--                    {% for apem in apems%}-->
            <!--                    <img src="static/icons/on.png" alt="on" style="max-width: 20px;">-->
            <!--                    <img src="static/icons/off.png" alt="on" style="max-width: 20px;">-->
            <!--                    <span style="font-weight: 600; color: #488423; margin-left: 1%">{{ apem }}</span>-->
            <!--                    <span style="font-weight: 600; color: #c1802e">{{ apem.type_podavitelya}}, </span>-->
            <!--                    <span style="font-weight: 600; color: #872525"> хост: {{ apem.ip_podavitelya}}, </span>-->
            <!--                    <span style="font-weight: 600; color: #0059b6">-->
            <!--                                канал: {{apem.canal_podavitelya}},-->
            <!--                            </span>-->
            <!--                    <span style="font-weight: 600; color: 	#872525"> усиление: {{ apem.usileniye_db}} дБ, </span>-->
            <!--                    {% endfor %}-->
            <!--                <div class="block2">-->


            <!--            <div id="block1">-->
            <form action="choose_apem_toshow" method="post">
                {% csrf_token %}
                {% if form_apem.fields.freq_podavitelya.queryset.count != 0 %}
                {{ form_apem }}
                <button class="button-blue-small" style="margin-top: 20px; margin-left: 40px">
                    выбрать
                </button>

                {% else %}
                <h3> Необходимо добавить в базу имеющиеся блоки АПЕМ, Шелест </h3>
                {% endif %}
            </form>
            <!--            </div>-->

            <!--                </div>-->

        </div>
        <form action="set_apem" method="post">
            {% if apem_change_form.fields %}
            <div class="row">

                <div id="apems_form" style="
                    margin: 30px 100px">

                    <h3> {{apem_action_message}}
                    </h3>
                    {{apem_change_form}}
                    {% endif %}
                </div>
            </div>
            {% if initial != 'True' %}

            <div class="row" style="margin-left: 95px">


                {% csrf_token %}
                <button class="button-config">
                    ввод
                </button>

            </div>
        </form>

        <div class="row" style="margin-top: 100px">
            <form action="delete_apem" method="post">
                {% csrf_token %}
                <button class="button-delete">
                    удалить
                </button>

            </form>
        </div>

        {% endif %}
    </div>


</div>

<!--            <div class="col-1 ">-->
<!--                <button class="button-green-small">-->
<!--                    Выбор-->
<!--                </button>-->


<!--            </div>-->


</body>
</html>
