<!DOCTYPE html>
{% load leaflet_tags %}
{% load geojson_tags %}

<html>
<head>

    <title>Конфигурация</title>
    <script src="static/src/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/bootstrap-4.0.0/css/bootstrap.min.css">
    <script src="static/bootstrap-4.0.0/js/bootstrap.min.js"></script>
    <meta charset=utf-8>

    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
    {% leaflet_js %}
    {% leaflet_css %}
    {% csrf_token %}

</head>
<body style="text-align: left">
<div class="everything">
    <!--    <input id="slider1" type="range" value="3" min="1" max="20" step="1"/>-->
    <div class="row" style="margin: 1%">
        <form action="menu" method='GET'>
            <button class="button-blue"> Меню</button>
        </form>
        <form action="main" method='GET'>
            <button class="button-blue"> Главная</button>
        </form>
        <form action="journal" method='GET'>
            <button class="button-blue"> Журнал</button>
        </form>
        <form action="configuration" method='GET'>
            <button class="button-blue"> Конфигуратор</button>
        </form>
        <form action="admin" method='GET'>
            <button class="button-blue"> Администратор</button>
        </form>


    </div>
    <form action="choose_apem_toshow" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-11 " style="margin: 30px 30px">
                <h2 style="margin: 30px 30px">
                    Просмотр блоков АПЕМ, Шелест
                </h2>
                <div id="detections" class="box-scroll" style="background-color: rgb(255,255,255);
                    width: 700px; height: 400px; margin: 30px 30px">
                    {% load mytags %}
                    <!--                        <form action="get_drones" method='POST'>-->
                    {% for apem in apems%}
                    <div class="mx-auto">
                        <!--                            <span style="font-weight: 600; color: #2b570e; margin-left: 1%">{{ dron.pk }}. </span>-->

                        <img src="static/icons/on.png" alt="on" style="max-width: 20px;">
                        <img src="static/icons/off.png" alt="on" style="max-width: 20px;">
                        <!--                        <button>-->
                        <span style="font-weight: 600; color: #488423; margin-left: 1%">{{ apem }}</span>
                        <!--                        </button>-->


                        <span style="font-weight: 600; color: #c1802e">{{ apem.type_podavitelya}}, </span>
                        <span style="font-weight: 600; color: #872525"> хост: {{ apem.ip_podavitelya}}, </span>


                        <span style="font-weight: 600; color: #0059b6">
                                канал: {{apem.canal_podavitelya}},
                            </span>

                        <span style="font-weight: 600; color: 	#872525"> усиление: {{ apem.usileniye_db}} дБ, </span>

                    </div>


                    {% endfor %}
                </div>


            </div>
        </div>
        <!--            <div class="col-1 ">-->
        <!--                <button class="button-green-small">-->
        <!--                    Выбор-->
        <!--                </button>-->


        <!--            </div>-->
</div>
</form>


</div>


</body>
</html>
