<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Main page</title>

    <link rel="stylesheet" href="/static/styles.css"/>
</head>
<body>
<h1 style="margin: 1%">Main page</h1>

<div class="row" style="margin: 1%">
    <form action="main" method='GET'>
        <button class="button-blue-big"> Главная</button>
    </form>
    <form action="journal" method='GET'>
        <button class="button-blue-big"> Журнал</button>
    </form>
    <form action="configuration" method='GET'>
        <button class="button-blue-big"> Конфигуратор</button>
    </form>
    <form action="admin" method='GET'>
        <button class="button-blue-big"> Администратор</button>
    </form>



</div>
<div class="row">
    Информация что где и как этим пользоваться?
</div>

</body>
</html>