<!DOCTYPE html>

{% load leaflet_tags %}
{% load geojson_tags %}

<html>
<head>
    <title>Journal page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="static/src/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/bootstrap-4.0.0/css/bootstrap.min.css">
    <script src="static/bootstrap-4.0.0/js/bootstrap.min.js"></script>
    <script src="static/src/popper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/src/css/bootstrap-datetimepicker.css">
    <script src="static/src/moment-with-locales.min.js"></script>
    <script src="static/src/bootstrap-datetimepicker.min.js"></script>
    <script src="static/src/datepicker-widget.js"></script>

    <meta charset=utf-8>
    <link rel="stylesheet" href="/static/styles.css"/>

    <style>
        .round_form {
            border: 1px solid #ccc;
            border-radius: 5px;
            height: 25px;
            width: 200px;
            margin: 10px 10px 10px 0;
        }
    </style>

    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
    {% leaflet_js %}
    {% leaflet_css %}
    {% csrf_token %}
</head>
<body style="background-color:rgba(113,129,132,0.14);">
<div class="everything">
    <div class="map-info" style="margin: 1%">
        <div class="row">
            <div class="col-8 ">
                <div class="map-box" style="height: 60vh; width:98%; solid:#ffffff">
                    <div class="row" style="margin: 1%">
                        <a href="menu">
                            <img src="static/icons/asb2.png" alt="on" style="max-width: 40px;">
                        </a>

                        <form action="menu" method='GET'>
                            <button class="button-black" style="margin-left: 10px"> Меню</button>
                        </form>
                        <form action="main" method='GET'>
                            <button class="button-black"> Главная</button>
                        </form>
                        <form action="journal" method='GET'>
                            <button class="button-black"> Журнал</button>
                        </form>
                        <form action="configuration" method='GET'>
                            <button class="button-black"> Конфигуратор</button>
                        </form>
                        <form action="admin" method='GET'>
                            <button class="button-black"> Администратор</button>
                        </form>
                    </div>
                    <div class="leaflet-container" style="border: 0.5vh ">

                        {% leaflet_map "map" callback="window.map_init_basic" %}
                    </div>


                </div>
                <div class="information-bottom-left" style="height: 30vh; margin-top: 4%; border: 0.5vh">
                    <form action="filter_all" method='GET'>
                        <h3 style="margin-top: 4%"> Выбрать засечку для отображения

                            <button class="button-blue-small">
                                Обновить
                            </button>
                        </h3>
                    </form>


                    <form action="choose_drone_toshow" method="post">
                        <div class="row">
                            <div class="col-11 ">

                                <div id="detections" class="box-scroll" style="background-color: rgb(226,226,226); margin: 2% 0;
                    width: 100%; height: 95%">

                                    {% csrf_token %}
                                    {% if form_drone.fields.drone_toshow.queryset.count != 0 %}

                                    {% for field in form_drone %}
                                    {{field}}

                                    {% endfor %}

                                    {% else %}
                                    По выбранным критериям ничего не найдено
                                    {% endif %}


                                </div>
                            </div>
                            <div class="col-1 ">
                                <button class="button-green-small">
                                    Выбор
                                </button>


                            </div>
                        </div>
                    </form>

                </div>

            </div>
            <div class="col-4">
                <div class="filters-all" style="height: 80%;">

                    <!--                </div> border: 0.5vh solid #dedddd">-->
                    <div class="export-csv" style="margin-left: 5%;margin-top: 1%">
                        <div class="functions-cont" style="margin-top: 3%; ">
                            <div class="row" style="margin-top: 2%; width: 50vh">
                                {% if not filtered_strizhes %}
                                <form action="filter_nomer_strizha" method="post">
                                    {% csrf_token %}
                                    <div class="row" style="margin-left: 3.5%; align-items:center; width: 50vh">
                                        <h3>
                                            Выбор стрижей
                                        </h3>
                                    </div>
                                    <div class="row" style="margin-left: 3% ">
                                        <div class="col-6">
                                            {{ form_filter }}
                                        </div>
                                        <div class="col-1">

                                            <button class="button-blue-small" style="margin: 0px 20px">
                                                выбор
                                            </button>
                                        </div>
                                    </div>

                                </form>
                                {% endif %}
                            </div>
                            <div class="row" style="margin-left: 2%">
                                {% if filtered_strizhes %}
                                <h3>
                                    Выбрано:
                                </h3>

                                <h3 style="text-align: center; color: #1d3e81">
                                    {% for f_str in filtered_strizhes %}
                                    {% if filtered_strizhes.count == 1 %}
                                    {{f_str}}
                                    {% elif filtered_strizhes.count > 1 %}
                                    {{f_str}}, <br>
                                    {% endif %}
                                    {% endfor %}
                                </h3>
                                <div class="span12 text-center">
                                    <!--                                <h5>-->
                                    <form action="reset_filter_strizh" method="get"
                                          style="align-content: center; justify-content: center">
                                        {% csrf_token %}
                                        <button class="button-blue-small">
                                            выбрать другие
                                        </button>

                                    </form>
                                </div>
                                {% endif %}
                            </div>
                        </div>

                        <form action="apply_period" method="post">
                            {% csrf_token %}
                            <h3> Период </h3>

                            <div class="form-group">
                                <h4 style="color: #72849e">
                                    <label for="id_start_datetime">Начало</label>
                                </h4>
                                <div class="input-group date" style="height: 48px; width: 90%">
                                    <input type="text" name="start_datetime" value="Начало"
                                           class="form-control" placeholder="{{start_datetime}}"
                                           required="" id="id_start_datetime"
                                           dp_config="{&quot;id&quot;: &quot;dp_3&quot;, &quot;picker_type&quot;: &quot;DATETIME&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: true, &quot;format&quot;: &quot;MM/DD/YYYY HH:mm&quot;}}">
                                    <div class="input-group-addon input-group-append"
                                         data-target="#datepicker" data-toggle="datetimepickerv">
                                        <div class="input-group-text">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </div>
                                    </div>
                                    <button class="button-blue-small" type='submit'> Применить</button>
                                </div>
                            </div>
                            </h4>

                        </form>

                        <form action="apply_period" method="post">
                            {% csrf_token %}

                            <div class="form-group">
                                <h4 style="color: #72849e">
                                    <label for="id_end_datetime">Конец</label>
                                </h4>
                                <div class="input-group date" style="height: 48px; width: 90%">
                                    <input type="text" name="end_datetime" value="Конец"
                                           class="form-control" placeholder="{{end_datetime}}"
                                           required="" id="id_end_datetime"
                                           dp_config="{&quot;id&quot;: &quot;dp_3&quot;, &quot;picker_type&quot;: &quot;DATETIME&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: true, &quot;format&quot;: &quot;MM/DD/YYYY HH:mm&quot;}}">
                                    <div class="input-group-addon input-group-append"
                                         data-target="#datepicker" data-toggle="datetimepickerv">
                                        <div class="input-group-text">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </div>
                                    </div>
                                    <button class="button-blue-small" type='submit'> Применить</button>
                                </div>
                            </div>
                            </h4>

                        </form>

                        <script>
                            $(function () {
                                $("#datepicker").datepicker({
                                    format: 'DD/MM/YYYY HH:mm',
                                });
                            });
                        </script>

                        <div class="row" style="margin-left: -2%; margin-top: 30px">
                            <div class="col-4">
                                <form action='reset_filter' method='post'>
                                    {% csrf_token %}
                                    <button class="button-red-sbros" type='submit'> Сбросить</button>
                                </form>
                            </div>
                            <div class="col-4">
                                <form action="export_csv" method='GET'>
                                    <button class="button-green-csv"> Экспорт CSV
                                    </button>
                                </form>
                            </div>
                            <div class="col-4">
                                <form action="filter_all" method='GET'>
                                    <button class="button-blue-filter"> Фильтр
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>

            </div>


        </div>
    </div>
</div>


<script>

    function refresh() {
        $.ajax({
            url: "journal",
            success: function (data) {
                $('#detections').replaceWith($('#detections', data)); // NOTE this
            }
        });
    }

    // var seconds_wait = 100; // seconds, edit here
    // setInterval(refresh, seconds_wait * 1000);

    function map_init_basic(map, options) {

        function onlyUnique(value, index, self) {
            return self.indexOf(value) === index;
        }

        function getRandomColor() {
            let letters = '0123456789ABCDEF';
            let color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        var layerDrones = L.layerGroup().addTo(map);
        var layerStrizhes = L.layerGroup().addTo(map);
        var counter_periodic = -1;
        counter_periodic = counter_periodic + 1;

        $.getJSON('/geo/drone_journal/', function (data) {
                let arc1;
                let str1;
                let name1;
                let logoMarkerStyle = L.Icon.extend({
                    options: {
                        iconSize: [46, 46],
                        iconAnchor: [23, 23],
                        popupAnchor: [0, -46],
                        // className: 'blinking'
                    }
                });

                $.getJSON('/geo/strizh_view/', function (strizh_data) {
                    let len_strizh_data = strizh_data.features.length;
                    let strizh_map_name = {};
                    let logoMarkerStyleStrizh = L.Icon.extend({
                        options: {
                            iconSize: [85, 90],
                            iconAnchor: [38, 86],
                            popupAnchor: [0, -80]
                        }
                    });
                    var logoMarkerStrizh = new logoMarkerStyleStrizh({
                        iconUrl: 'static/icons/antenna2.png'
                    });

                    for (let j = 0; j < len_strizh_data; j++) {

                        strizh_map_name[strizh_data.features[j].properties.name] = [strizh_data.features[j].properties.lat,
                            strizh_data.features[j].properties.lon, strizh_data.features[j].properties.name];

                        console.log('strizh_data: ', strizh_data.features[j].properties)

                        if (counter_periodic <= 10) {
                            if (counter_periodic === 10) {
                                counter_periodic = 0;
                                layerStrizhes.clearLayers();
                            }
                            if (counter_periodic === 0) {
                                var tooltip = L.tooltip({
                                    direction: 'bottom',
                                    noWrap: true,
                                    permanent: true,
                                    opacity: 0.85
                                })
                                    .setContent(strizh_data.features[j].properties.name);

                                str1 = L.marker([strizh_data.features[j].properties.lat,
                                    strizh_data.features[j].properties.lon], {icon: logoMarkerStrizh}).addTo(layerStrizhes)
                                    .bindTooltip(tooltip).openTooltip();
                            }
                            map.addLayer(layerStrizhes)
                        }

                    }
                    let logoMarker = new logoMarkerStyle({iconUrl: 'static/icons/dron_top.png', color: '#ff0000'});
                    console.log('data ', data)
                    // статичная отрисовка радиуса вокруг стрижа, стрижа и его подписи
                    let radius = parseFloat(data.features[0].properties.area_radius_m);
                    let area_sector_start_grad = parseFloat(data.features[0].properties.area_sector_start_grad);
                    let area_sector_end_grad = parseFloat(data.features[0].properties.area_sector_end_grad);
                    console.log('strizh_map_name', strizh_map_name)
                    console.log('data.features[0].properties.strig_name', data.features[0].properties.strig_name)
                    console.log('strizh_map_name[data.features[0].properties.strig_name]',
                        strizh_map_name[data.features[0].properties.strig_name])

                    console.log('strizh_map_name[data.features[0].properties.strig_name]',
                        strizh_map_name[data.features[0].properties.strig_name])

                    let strizh_center = [strizh_map_name[data.features[0].properties.strig_name][0], strizh_map_name[data.features[0].properties.strig_name][1]];

                    // Отрисовка сектора с обновлением + layerDrones
                    let r_y = 0.004499 * 4 / 5
                    let r_x = 0.008892 * 4 / 5

                    if (area_sector_start_grad === -1 && area_sector_end_grad === -1) {
                        let angle = (90 - (area_sector_start_grad)) / 180 * Math.PI;
                        var d_y = 0.004499 * Math.sin(angle);
                        var d_x = 0.008892 * Math.cos(angle);
                        arc1 = L.circle(strizh_center, {
                            color: '#0296f8',
                            // fillColor: "#f1b44e",
                            fillColor: "#3aacfd",
                            fillOpacity: 0.15,
                            radius: radius
                        }).addTo(layerDrones);

                    } else {
                        let angle = (90 - (area_sector_start_grad + 30)) / 180 * Math.PI;
                        var d_y = r_y * Math.sin(angle);
                        var d_x = r_x * Math.cos(angle);

                        L.circle(strizh_center, {
                            radius: radius,
                            startAngle: area_sector_start_grad,
                            endAngle: area_sector_end_grad,

                        }).addTo(layerDrones);
                    }

                    // Отрисовка подписи к дрону в секторе + layerDrones
                    //TODO current_time
                    let podpis = data.features[0].properties.detection_time.substr(0, 19) + '.  ' +
                        data.features[0].properties.system_name + '.  ' + data.features[0].properties.comment_string

                    console.log('podpis', podpis)

                    var tooltip_drone = L.tooltip({
                        maxWidth: 2000,
                        direction: 'top',
                        offset: L.point({x: 0, y: -20}),
                        permanent: true,
                        opacity: 0.85,
                        className: 'leaflet-tooltip-own'
                    })
                        .setContent(podpis);

                    // Отрисовка дрона в секторе + layerDrones
                    L.marker([strizh_center[0] + d_y,
                        strizh_center[1] + d_x], {icon: logoMarker}).addTo(layerDrones)
                        .bindTooltip(tooltip_drone).openTooltip();
                });
            }
        )

        map.addLayer(layerDrones)
        // layerDrones.clearLayers();


    }

</script>
</body>
</html>
