<!DOCTYPE html>

{% load leaflet_tags %}
{% load geojson_tags %}

<html>
<head>
    <title>Journal page</title>

    <link rel="stylesheet" href="/static/datepicker-widget.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.38.0/js/tempusdominus-bootstrap-4.min.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.38.0/css/tempusdominus-bootstrap-4.min.css"
          crossorigin="anonymous"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css"
          type="text/css" media="all" rel="stylesheet">
    <link href="datepicker-widget.css" type="text/css" media="all" rel="stylesheet">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript"
            src="//cdn.rawgit.com/monim67/django-bootstrap-datepicker-plus/master/bootstrap_datepicker_plus/static/bootstrap_datepicker_plus/js/datepicker-widget.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <meta charset=utf-8>

    <link rel="stylesheet" href="/static/styles.css"/>

    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
    {% leaflet_js %}
    {% leaflet_css %}
    {% csrf_token %}
</head>
<body>
<div class="everything">
    <div class="map-info" style="margin: 1%">

        <div class="row">
            <div class="col-8 ">
                <div class="map-box" style="height: 70vh">
                    <div class="row" style="margin: 1%">
                        <form action="menu" method='GET'>
                            <button class="button-blue"> Меню</button>
                        </form>
                        <form action="main" method='GET'>
                            <button class="button-blue"> Титул</button>
                        </form>
                        <form action="journal" method='GET'>
                            <button class="button-blue"> Журнал</button>
                        </form>
                        <form action="configuration" method='GET'>
                            <button class="button-blue"> Конфигуратор</button>
                        </form>

                    </div>

                    <div class="leaflet-container" style="border: 0.5vh solid #dfee99">

                        {% leaflet_map "map" callback="window.map_init_basic" %}
                    </div>
                </div>
                <div class="information-bottom" style="height: 25vh; margin-top: 1%; border: 0.5vh solid #dfee99">
                    Инфо по последним засечкам
                </div>

            </div>
            <div class="col-4">
                <div class="filters-all" style="height: 60vh; border: 0.5vh solid #dfee99">
                    <div class="export-csv" style="margin-left: 5%;margin-top: 1%">
                        <form action="main" method='GET'>
                            <button class="button-blue"> Экспортировать csv</button>
                        </form>

                        <div class="functions-cont" style="margin-top: 2%; ">
                            <form action="choose_numbers_strizhes" method="post">
                                {% csrf_token %}
                                <h3>Введите номера стрижей</h3>

                                <input type="number" style="height: 48px; width: 60%" name="nomer_strizha"
                                       placeholder="1,2,3">
                                <form action='apply_numbers_strizhes' method='GET'>
                                    <button class="button-green-small" type='submit'> Фильтр</button>
                                </form>
                            </form>


                            <form action="apply_period" method="post">
                                {% csrf_token %}
                                <h3> Период </h3>
                                <h4 style="color: #72849e">
                                    <div class="form-group">
                                        <label for="id_start_datetime">Начало</label>
                                        <div class="input-group date" style="height: 48px; width: 90%">
                                            <input type="text" name="start_datetime" value="Начало"
                                                   class="form-control" placeholder={{start_datetime}} title=""
                                                   required="" id="id_start_datetime"
                                                   dp_config="{&quot;id&quot;: &quot;dp_3&quot;, &quot;picker_type&quot;: &quot;DATETIME&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: true, &quot;format&quot;: &quot;MM/DD/YYYY HH:mm&quot;}}">
                                            <div class="input-group-addon input-group-append"
                                                 data-target="#datetimepicker1" data-toggle="datetimepickerv">
                                                <div class="input-group-text">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </div>
                                            </div>
                                            <button class="button-green-small" type='submit'> Применить</button>
                                        </div>
                                    </div>
                                </h4>
                                <!--                                <input type="submit" value="применить">-->

                            </form>

                            <form action="apply_period" method="post">
                                {% csrf_token %}
                                <h4 style="color: #72849e">
                                    <div class="form-group">
                                        <label for="id_end_datetime">Конец</label>
                                        <div class="input-group date" style="height: 48px; width: 90%">
                                            <input type="text" name="end_datetime" value="Конец"
                                                   class="form-control" placeholder={{end_datetime}} title=""
                                                   required="" id="id_end_datetime"
                                                   dp_config="{&quot;id&quot;: &quot;dp_3&quot;, &quot;picker_type&quot;: &quot;DATETIME&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: true, &quot;format&quot;: &quot;MM/DD/YYYY HH:mm&quot;}}">
                                            <div class="input-group-addon input-group-append"
                                                 data-target="#datetimepicker1" data-toggle="datetimepickerv">
                                                <div class="input-group-text">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </div>
                                            </div>
                                            <button class="button-green-small" type='submit'> Применить</button>
                                        </div>
                                    </div>
                                </h4>

                                <!--                            <input type="submit" value="применить">-->
                            </form>

                            <script>
                                $(function () {
                                    $("#datetimepicker1").datetimepicker({
                                        format: 'DD/MM/YYYY HH:mm',
                                    });
                                });
                            </script>


                            <form action="choose_period" method="post">
                                {% csrf_token %}
                                <form action='apply_period' method='GET'>
                                    <button class="button-red" type='submit'> Сбросить фильтры</button>
                                </form>
                            </form>

                        </div>
                    </div>

                </div>
                <div class="information-bottom" style="height: 37vh; margin-top: 1%; border: 0.5vh solid #dfee99">
                    Служебка, Uniping, АГМ, логи
                    <!--                    <a href="http://192.168.2.51/termo.html"> Термодатчики</a>-->
                    <!--                    <a href="http://192.168.2.51/curdet.html"> Датчик дыма </a>-->
                    <!--                    <a href="http://192.168.2.51/rh.html"> Датчик влажности </a>-->
                    <!--                    <a href="http://192.168.2.51/log.html"> Журнал </a>-->

                    <form action='functioning_loop' method='GET'>
                        <h5> Температура: {{ temperature }}&deg,</h5>
                        <h5> Влажность: {{ humidity }}%,</h5>
                        <!--                        <h5>Температура датчика влажности: {{humidity_temp}}&deg</h5>-->
                        <h5> Состояние: {{ weather_state }}</h5>
                        <h5> Комплекс {{ complex_state }} </h5>

                        <h5>
                        </h5>
                    </form>

                    <div class="row" style="margin: 2%;">
                        <form action='turn_on_bp' method='GET'>
                            <button class="button-green-small">Включение комплекса</button>
                        </form>
                        <form action='turn_off_bp' method='GET'>
                            <button class="button-red">Выключение комплекса</button>
                        </form>
                    </div>

                    <div class="box-scroll">
                        <form action='show_logs' method='GET'>

                            {% for el in logs_list %}
                            {{ el }} <br>
                            {% endfor %}
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>

<script>
function map_init_basic(map, options) {
        var geojsonMarker = {
            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                    "properties": {},
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            30.45331835746765,
                            60.014732785555395
                        ]
                    }
                },
                {
                    "type": "Feature",
                    "properties": {},
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            30.453994274139404,
                            60.01450757958334
                        ]
                    }
                },
                {
                    "type": "Feature",
                    "properties": {},
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            30.453983545303345,
                            60.01494726600732
                        ]
                    }
                },
                {
                    "type": "Feature",
                    "properties": {},
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            30.452492237091064,
                            60.0143359930511
                        ]
                    }
                }
            ]
        };

        $.getJSON('/geo/data/', function (data) {
            var logoMarkerStyle = L.Icon.extend({
                options: {
                    iconSize: [65, 65],
                    iconAnchor: [38, 86],
                    popupAnchor: [0, -80]
                }
            });
            // var logoMarker = new logoMarkerStyle({iconUrl: 'https://image.flaticon.com/icons/png/512/215/215767.png'});
            var logoMarker = new logoMarkerStyle({iconUrl: 'https://image.flaticon.com/icons/png/512/215/215736.png'});
            var len_arr = data.features.length
            console.log(geojsonMarker)
            console.log(data)
            console.log(len_arr)
            for (let step = 0; step < len_arr; step++) {
                data.features[step].geometry = {}
                data.features[step].geometry.coordinates = [0, 0]
                data.features[step].geometry.type = "Point"
                data.features[step].geometry.coordinates[0] = data.features[step].properties.lon
                data.features[step].geometry.coordinates[1] = data.features[step].properties.lat
                data.features[step].properties = {}
                // L.geoJson(data, {icon: logoMarker}).addTo(map);
                L.marker([data.features[step].geometry.coordinates[1], data.features[step].geometry.coordinates[0]], {icon: logoMarker}).addTo(map);
            }
            console.log(data);

        });

        $.getJSON('/geo/strizh_view/', function (data) {
            var logoMarkerStyle = L.Icon.extend({
                options: {
                    iconSize: [85, 90],
                    iconAnchor: [38, 86],
                    popupAnchor: [0, -80]
                }
            });
            var logoMarker = new logoMarkerStyle({
                iconUrl: 'https://cdn.iconscout.com/icon/free/png-256/antenna-' +
                    'electronics-signal-technology-wifi-radiowaves-6-3098.png'
            });
            var len_arr = data.features.length
            console.log(data)
            console.log(len_arr)
            for (let step = 0; step < len_arr; step++) {
                data.features[step].geometry = {}
                data.features[step].geometry.coordinates = [0, 0]
                data.features[step].geometry.type = "Point"
                data.features[step].geometry.coordinates[0] = data.features[step].properties.lon
                data.features[step].geometry.coordinates[1] = data.features[step].properties.lat
                data.features[step].properties = {}
                // L.geoJson(data, {icon: logoMarker}).addTo(map);
                L.marker([data.features[step].geometry.coordinates[1], data.features[step].geometry.coordinates[0]], {icon: logoMarker}).addTo(map);
                let sector1 = L.sector({
                    center: [data.features[step].geometry.coordinates[1], data.features[step].geometry.coordinates[0]],
                    innerRadius: 0,
                    outerRadius: 500,
                    startBearing: 230,
                    endBearing: 250,
                    color: 'red'
                });

                let arc1 = L.arc({
                    center: [data.features[step].geometry.coordinates[1], data.features[step].geometry.coordinates[0]],
                    radius: 500,
                    color: 'pink',
                    startBearing: 0,
                    endBearing: 360,

                });

                map.addLayer(sector1)
                map.addLayer(arc1)
            }

            console.log(data);

        })

        $.getJSON('/geo/sector_view/', function (data) {

            var len_arr = data.features.length
            console.log(data)
            console.log(len_arr)
            for (let step = 0; step < len_arr; step++) {
                let sector1 = L.sector({
                    center: [data.features[step].properties.center_lat, data.features[step].properties.center_lon],
                    innerRadius: data.features[step].properties.innerRadius,
                    outerRadius: data.features[step].properties.outerRadius,
                    startBearing: data.features[step].properties.startBearing,
                    endBearing: data.features[step].properties.endBearing,
                    color: data.features[step].properties.color
                });
                map.addLayer(sector1)
            }
        })

    }

</script>
</body>
</html>
