<!DOCTYPE html>

{% load leaflet_tags %}
{% load geojson_tags %}
{% load mytags %}


<html>
<head>
    <meta charset=utf-8>
    <title>Журнал</title>
    <script type="text/javascript" src="static/journal.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="static/src/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/bootstrap-4.0.0/css/bootstrap.min.css">
    <script src="static/bootstrap-4.0.0/js/bootstrap.min.js"></script>
    <script src="static/src/popper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/src/css/bootstrap-datetimepicker.css">

    <script src="static/src/moment-with-locales.min.js"></script>
    <script src="static/src/bootstrap-datetimepicker.min.js"></script>


    <script src="static/src/datepicker-widget.js"></script>
    <link rel="stylesheet" href="static/datepicker-widget.css">
    <script src="static/src/L.Realtime.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

    <link rel="stylesheet" href="/static/styles.css"/>

    <style>

    </style>

    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
    {% leaflet_js %}
    {% leaflet_css %}
    {% csrf_token %}
</head>
<!--<body style="background-color:rgba(113,129,132,0.14);">-->
<body style="text-align: left;  background: rgba(113,129,132,0.14) url(static/icons/strizh_images/strizh3.png); ">
<div class="everything">
    <div class="map-info" style="margin: 1%">
        <div class="row">
            <div class="col-8 ">
                <div class="map-box" style="height: 60vh; width:98%; solid:#ffffff">
                    <div class="row" style="margin: 1%">
                        <a href="menu">
                            <img src="static/icons/str_logo.png" alt="on" style="max-width: 40px;">
                        </a>

                        <a href="menu">
                            <button class="button-black" style="margin-left: 10px"> Меню</button>
                        </a>
                        <a href="main">
                            <button class="button-black"> Главная</button>
                        </a>
                        <a href="journal" method='GET'>
                            <button class="button-black"> Журнал</button>
                        </a>
                        <a href="configuration" method='GET'>
                            <button class="button-black"> Конфигуратор</button>
                        </a>
                        <a href="admin" method='GET'>
                            <button class="button-black"> Администратор</button>
                        </a>
                    </div>
                    <div class="leaflet-container" style="border: 0.5vh ">

                        {% leaflet_map "map" callback="window.map_init_basic" %}
                    </div>


                </div>

            </div>
            <div class="col-4">
                <div class="filters-all" style="height: 80%;">

                    <!--                </div> border: 0.5vh solid #dedddd">-->
                    <div class="export-csv" style="margin-left: 5%;margin-top: 1%">
                        <div class="functions-cont" style="margin-top: 3%; ">
                            <div class="row" style="margin-top: 2%; width: 50vh">
                                {% if not filtered_strizhes %}
                                <form action="filter_nomer_strizha" method="post">
                                    {% csrf_token %}
                                    <div class="row" style="margin-left: 3.5%; align-items:center; width: 50vh">
                                        <h3>
                                            Выбор стрижей
                                        </h3>
                                    </div>
                                    <div class="row" style="margin-left: 3% ">
                                        <div class="col-6">
                                            {{ form_filter }}
                                        </div>
                                        <div class="col-1">

                                            <button class="button-blue-small" style="margin: 0px 20px">
                                                выбор
                                            </button>
                                        </div>
                                    </div>

                                </form>
                                {% endif %}
                            </div>
                            <div class="row" style="margin-left: 2%">
                                {% if filtered_strizhes %}
                                <h3>
                                    Выбрано:
                                </h3>

                                <h3 style="text-align: center; color: #1d3e81">
                                    {% for f_str in filtered_strizhes %}
                                    {% if filtered_strizhes.count == 1 %}
                                    {{f_str}}
                                    {% elif filtered_strizhes.count > 1 %}
                                    {{f_str}}, <br>
                                    {% endif %}
                                    {% endfor %}
                                </h3>
                                <div class="span12 text-center">
                                    <!--                                <h5>-->
                                    <form action="reset_filter_strizh" method="get"
                                          style="align-content: center; justify-content: center">
                                        {% csrf_token %}
                                        <button class="button-blue-small">
                                            выбрать другие
                                        </button>

                                    </form>
                                </div>
                                {% endif %}
                            </div>
                        </div>

                        <form action="apply_period" method="post">
                            {% csrf_token %}
                            <h3> Период </h3>

                            <div class="form-group">
                                <h4 style="color: #72849e">
                                    <label for="id_start_datetime">Начало</label>
                                </h4>
                                <div class="input-group date" style="height: 48px; width: 90%">
                                    <input type="text" name="start_datetime" value="Начало"
                                           class="form-control" placeholder="{{start_datetime}}"
                                           required="" id="id_start_datetime"
                                           dp_config="{&quot;id&quot;: &quot;dp_3&quot;, &quot;picker_type&quot;: &quot;DATETIME&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: true, &quot;format&quot;: &quot;MM/DD/YYYY HH:mm&quot;}}">
                                    <div class="input-group-addon input-group-append"
                                         data-target="#datepicker" data-toggle="datetimepickerv">
                                        <div class="input-group-text">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </div>
                                    </div>
                                    <button class="button-blue-small" type='submit'> Применить</button>
                                </div>
                            </div>
                            </h4>

                        </form>

                        <form action="apply_period" method="post">
                            {% csrf_token %}

                            <div class="form-group">
                                <h4 style="color: #72849e">
                                    <label for="id_end_datetime">Конец</label>
                                </h4>
                                <div class="input-group date" style="height: 48px; width: 90%">
                                    <input type="text" name="end_datetime" value="Конец"
                                           class="form-control" placeholder="{{end_datetime}}"
                                           required="" id="id_end_datetime"
                                           dp_config="{&quot;id&quot;: &quot;dp_3&quot;, &quot;picker_type&quot;: &quot;DATETIME&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: true, &quot;format&quot;: &quot;MM/DD/YYYY HH:mm&quot;}}">
                                    <div class="input-group-addon input-group-append"
                                         data-target="#datepicker" data-toggle="datetimepickerv">
                                        <div class="input-group-text">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </div>
                                    </div>
                                    <button class="button-blue-small" type='submit'> Применить</button>
                                </div>
                            </div>
                            </h4>

                        </form>

                        <script>
                            $(function () {
                                $("#datepicker").datepicker({
                                    format: 'DD/MM/YYYY HH:mm',
                                });
                            });
                        </script>

                        <div class="row" style="margin-left: -2%; margin-top: 30px">
                            <div class="col-4">
                                <form action='reset_filter' method='post'>
                                    {% csrf_token %}
                                    <button class="button-red-sbros" type='submit'> Сбросить</button>
                                </form>
                            </div>
                            <div class="col-4">
                                <form action="export_csv" method='GET'>
                                    <button class="button-green-csv"> Экспорт CSV
                                    </button>
                                </form>
                            </div>
                            <div class="col-4">
                                <form action="filter_all" method='POST'>
                                    {% csrf_token %}
                                    <button class="button-blue-filter"> Фильтр
                                    </button>
                                </form>
                            </div>
                        </div>

                        <!--                        <form action="filter_all" method='GET'>-->
                        <!--                            <h3 style="margin-top: 60px; margin-left: 20px">-->
                        <!--                                Выбрать засечку для отображения-->
                        <!--                                <button class="button-blue-small">-->
                        <!--                                    Обновить-->
                        <!--                                </button>-->
                        <!--                            </h3>-->
                        <!--                        </form>-->

                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="information-bottom-left" style="height: 30vh; width:100%; margin-top: 60px; border: 0.5vh">

                <form action="choose_drone_toshow" method="post">
                    <!--                <form action="" method="post">-->
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 ">
                            <div>
                                <div id="detections" style="margin: 10px 0;
                    width: 100%; height: 230px">
                                    {% if form_drone.AllDrones.count != 0 %}

                                    <table id="detections_table">
                                        <thead>
                                        <tr>
                                            <th>Время</th>
                                            <th>Имя дрона</th>
                                            <th>Хост</th>
                                            <th>Имя поста</th>
                                            <th>Радиус, м</th>
                                            <th>Азимут</th>
                                            <th>Комментарий</th>
                                            <th>Показать</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for dron in form_drone_alldrones %}
                                        <tr>
                                            <td>{{dron.detection_time}}</td>
                                            <td>{{dron.system_name}}</td>
                                            <td>{{dron.ip}}</td>
                                            <td>{{dron.strig_name}}</td>
                                            <td>{% widthratio dron.area_radius_m 1 1 %}</td>
                                            <td>{{ dron.azimuth|get_int }}</td>
                                            <td>{{dron.comment_string}}</td>
                                            <td>
                                                <!--                                            <button type="submit" name="detection_id" class="btn btn-primary"-->
                                                <!--                                                    value="{{ dron.pk }}"> Показать-->
                                                <!--                                            </button>-->

                                                <button type="submit" class="btn btn-primary" name="detection_id"
                                                        value="{{ dron.pk }}"> Показать
                                                </button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {% else %}
                            <h2 style="color: #3b3b3b;text-align:  center; margin-top: 40px">
                                По выбранным критериям ничего не найдено
                            </h2>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>

</html>
