<!DOCTYPE html>
{% load leaflet_tags %}
{% load geojson_tags %}
{% load mytags %}


<html>
<head>

    <title>Главная страница</title>
    <script src="static/src/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/bootstrap-4.0.0/css/bootstrap.min.css">
    <script src="static/bootstrap-4.0.0/js/bootstrap.min.js"></script>
    <meta charset=utf-8>

    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
    {% leaflet_js %}
    {% leaflet_css %}
    {% csrf_token %}

    <script type="text/javascript" src="static/main.js"></script>
    <script>
        const complex_state = JSON.parse("{{ complex_state_json|escapejs }}");
        const complex_mode = JSON.parse("{{ complex_mode_json|escapejs }}");
        const chosen_strizh = JSON.parse("{{ chosen_strizh_json|escapejs }}");
        // var btn_green = document.getElementById("btn_green");
        // btn_green.addEventListener("click", function () {
        //     this.classList.add("active");
        // });
    </script>

</head>
<body style="background-color:rgba(113,129,132,0.14);">
<!--<body style="text-align: left;  background: rgba(113,129,132,0.14) url(static/icons/strizh3.png); ">-->
<div class="everything">
    <div class="map-info" style="margin: 1%">

        <div class="row">
            <div class="col-9 ">
                <div class="map-box" style="height: 70vh; width:100%; solid:#ffffff">
                    <div class="row" style="margin: 1%">
                        <a href="menu">
                            <img src="static/icons/str_logo.png" alt="on" style="max-width: 40px;">
                        </a>
                        <a href="menu">
                            <button class="button-black" style="margin-left: 10px"> Меню</button>
                        </a>
                        <a href="main">
                            <button class="button-black"> Главная</button>
                        </a>
                        <a href="journal" method='GET'>
                            <button class="button-black"> Журнал</button>
                        </a>
                        <a href="configuration" method='GET'>
                            <button class="button-black"> Конфигуратор</button>
                        </a>
                        <a href="admin" method='GET'>
                            <button class="button-black"> Администратор</button>
                        </a>
                    </div>
                    <div class="leaflet-container" style="border: 0.5vh ">

                        {% leaflet_map "map" callback="window.map_init_basic" %}
                    </div>
                </div>
                <div class="information-bottom-left" style="height: 5%; margin-top: 2%; border: 0.5vh">
                    <h3 style="margin-top: 4%"> Информация о засечках </h3>
                    <div id="detections" style="margin: 2% 0;
                    width: 100%;">
                        <table id="detections_table">
                            <thead>
                            <tr>
                                <th>Время</th>
                                <th>Имя дрона</th>
                                <th>Хост</th>
                                <th>Имя поста</th>
                                <th>Радиус, м</th>
                                <th>Азимут</th>
                                <th>Комментарий</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for dron in info_drones%}
                            <!--                                <tbody class="scrollContent">-->

                            <tr>
                                <td>{{dron.detection_time}}</td>
                                <td>{{dron.system_name}}</td>
                                <td>{{dron.ip}}</td>
                                <td>{{dron.strig_name}}</td>
                                <td>{% widthratio dron.area_radius_m 1 1 %}</td>
                                <td>{{ dron.azimuth|get_int }}</td>
                                <td>{{dron.comment_string}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="strizhes-all" style="height: 30%; ">
                        <!--border: 0.5vh solid rgb(255,255,255)">-->
                        <div class="strizh" style="margin-left: 5%;margin-top: 1%">
                            <!--                            <div class="row" style="margin-top: 5%;margin-left: 0.5%; width: 100%">-->
                            <!--                                <form action="choose_all_strizhes" method="post">-->
                            <!--                                    {% csrf_token %}-->
                            <!--                                    <button class="btn btn-primary">-->
                            <!--                                        Управление всеми стрижами-->
                            <!--                                    </button>-->
                            <!--                                </form>-->
                            <!--                            </div>-->
                            <div class="row" style="margin-top: 2%;margin-left: 0.5%; width: 100%">

                                <div style="width: 100%">
                                    <h3>
                                        Управление одним стрижом
                                    </h3>
                                </div>
                                <h5>
                                    <form action="choose_nomer_strizha" method="post">
                                        {% csrf_token %}
                                        {{ form }}
                                        <button class="btn btn-primary" id=change_drone2 name="choose_nomer_strizha"
                                                type="submit">
                                            ввод
                                        </button>
                                        <div class="row" style="margin-top: 5%;margin-left: 0.5%; width: 100%">

                                            {% csrf_token %}
                                            <button class="btn btn-primary" name="choose_all_strizhes" type="submit">
                                                Управление всеми стрижами
                                            </button>

                                        </div>

                                    </form>
                                </h5>
                            </div>
                            <div class="row" style="margin-left: 2%">
                                <h5 style="text-align: center; ">
                                    {% if chosen_strizh != all_strizhes %}
                                    Выбран
                                    {% for striz in chosen_strizh %}
                                    {% if striz != 'None' %}
                                    {{ striz }}
                                    {% endif %}
                                    {% endfor%}
                                    {% else %}
                                    Выбраны все
                                    {% endif %}
                                </h5>
                            </div>

                            <div class="strizh-each" style="margin-left: 2%">
                                <div class="row">
                                    {% if button_complex != 'red_scan' %}
                                    <form action='butt_scan' method='GET'>
                                        <button class="button-green" style="width: 150px;" type='submit'> Сканирование
                                        </button>
                                    </form>
                                    {% else %}
                                    <form action='butt_scan' method='GET'>
                                        <button class="button-green-red" style="width: 150px;" type='submit'>
                                            Сканирование
                                        </button>
                                    </form>
                                    {% endif %}
                                    {% if button_complex != 'red_jammer' %}
                                    <form action='butt_glush' method='GET'>
                                        <button class="button-green" style="width: 150px;"> Глушение</button>
                                    </form>
                                    {% else %}
                                    <form action='butt_glush' method='GET'>
                                        <button class="button-green-red" style="width: 150px;"> Глушение</button>
                                    </form>
                                    {% endif %}
                                    <!--                                <form action='butt_gps' method='GET'>-->
                                    <!--                                    <button id="btn_green" class="button-green"> GPS глуш.</button>-->
                                    <!--                                </form>-->
                                    <!--                                <form action='butt_ku' method='GET'>-->
                                    <!--                                    <button class="button-green">КУ глуш.</button>-->
                                    <!--                                </form>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="information-bottom" style="height: 65%; margin-top: 2%; width: 100%">
                        <!--                    border: 0.5vh solid rgb(255,255,255)">-->
                        {% for striz in chosen_strizh %}
                        {% if striz != 'None' %}
                        {% if complex_state_dict|getkey:striz == 'включен' %}
                        <div class="row" style="margin-left: 2.2%">

                            <!--                        <h4 style="color: #2b2b2b; font-weight:600; font-family: Calibri, sans-serif; margin-left: 2%;">-->
                            <!--                            Режим </h4>-->
                            <!--                        &nbsp;-->
                            <h4 style="color: #2c3a97; font-weight:600; font-family: Calibri, sans-serif; margin-left: 4%;">
                                {{action_strizh|getkey:striz}}
                            </h4>
                        </div>


                        {% else %}
                        <div class="row" style="margin-left: 2.2%">
                            <h4 style="font-weight:600; font-family: Calibri, sans-serif; margin-left: 4%; color: #a10202">
                                Необходимо включить {{striz}} </h4>


                        </div>
                        {% endif %}
                        {% endif %}
                        {% endfor %}

                        {% if chosen_strizh != all_strizhes %}
                        <form action='main' style="margin: 2% 7%" method='GET'>
                            {% for striz in chosen_strizh %}
                            {% if striz != 'None' %}
                            <h5> Температура: {{ temperature_dict|getkey:striz }} </h5>
                            <h5> Влажность: {{ humidity_dict|getkey:striz }} </h5>
                            <h5> Состояние: {{ weather_state_dict|getkey:striz }} </h5>
                            <h5> Стриж:
                                {% if complex_state_dict|getkey:striz == 'включен' %}
                                <span style="color: #027d1e"> {{ complex_state_dict|getkey:striz }} </span>
                                {% else %}
                                <span style="color: #a10202"> {{ complex_state_dict|getkey:striz }} </span>
                                {% endif %}
                            </h5>

                            {% endif %}
                            {% endfor %}
                        </form>
                        {% elif chosen_strizh == all_strizhes %}
                        <div class="row">
                            <div class="col-11">
                                <div class="box-scroll"
                                     style="height: 200px; margin: 2% 7%; background-color: #F6F6F6FF">
                                    <form action='main' style="margin: 2% 2%" method='GET'>
                                        {% for striz in chosen_strizh %}
                                        {% if striz != 'None' %}
                                        {% if weather_state_dict|getkey:striz == 'ошибка соединения с uniping' %}
                                        <h5 style="color: #aa0505">
                                            {{striz}}:
                                            {{ complex_state_dict|getkey:striz }}.
                                            {{ weather_state_dict|getkey:striz }}
                                        </h5>
                                        {% elif 'выключен' in complex_state_dict|getkey:striz %}
                                        {% if complex_state_dict|getkey:striz == 'выключен датчик воздушного потока'%}
                                        <h5 style="color: #b36c00">
                                            {{striz}}:
                                            {{ complex_state_dict|getkey:striz }}
                                        </h5>
                                        {% else %}
                                        <h5 style="color: #aa0505">
                                            {{striz}}:
                                            {{ complex_state_dict|getkey:striz }}
                                        </h5>
                                        {% endif %}
                                        {% elif 'включен' in complex_state_dict|getkey:striz %}
                                        <h5 style="color: #165c27"> {{striz}}:
                                            {{ complex_state_dict|getkey:striz }} </h5>
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-11">
                                <div class="box-scroll"
                                     style="height: 150px; margin: 2% 7%; background-color: #F6F6F6FF">

                                    <form action='show_logs' style="margin: 2% 2%" method='GET'>

                                        {% for el in logs_list reversed %}
                                        {{ el }} <br>
                                        {% endfor %}

                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin: 1% 5%; justify-content: center">
                            <form action='turn_on_bp' method='GET'>
                                {% if chosen_strizh != all_strizhes %}
                                {% for striz in chosen_strizh %}
                                {% if striz != 'None' %}
                                <button class="btn btn-success" style="width: 250px">
                                    Включение {{striz}}
                                </button>
                                {% endif %}
                                {% endfor %}
                                {% else %}
                                <button class="btn btn-success" style="width: 250px">Включение комплекса</button>
                                {% endif %}
                            </form>
                        </div>
                        <div class="row" style="margin: 1% 5%; justify-content: center">
                            <form action='turn_off_bp' method='GET'>
                                {% if chosen_strizh != all_strizhes %}
                                {% for striz in chosen_strizh %}
                                {% if striz != 'None' %}
                                <button class="btn btn-danger" style="width: 250px">
                                    Выключение {{striz}}
                                </button>
                                {% endif %}
                                {% endfor %}
                                {% else %}
                                <button class="btn btn-danger" style="width: 250px">
                                    Выключение комплекса
                                </button>
                                {% endif %}
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


</body>
</html>
