<!DOCTYPE html>
{% load leaflet_tags %}
{% load geojson_tags %}
{% load mytags %}


<html>
<head>


    <title>Main page</title>
    <script src="static/src/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/bootstrap-4.0.0/css/bootstrap.min.css">
    <script src="static/bootstrap-4.0.0/js/bootstrap.min.js"></script>
    <script src="static/src/L.Icon.Pulse.js"></script>
    <link rel="stylesheet" href="static/src/L.Icon.Pulse.css"/>
    <meta charset=utf-8>

    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
    {% leaflet_js %}
    {% leaflet_css %}
    {% csrf_token %}

    <script type="text/javascript" src="static/main.js"></script>
    <script>
        const complex_state = JSON.parse("{{ complex_state_json|escapejs }}");
        const complex_mode = JSON.parse("{{ complex_mode_json|escapejs }}");
        var btn_green = document.getElementById("btn_green");
        btn_green.addEventListener("click", function () {
            this.classList.add("active");
        });
    </script>


</head>
<body style="background-color:rgba(113,129,132,0.14);">
<!--<body style="text-align: left;  background: rgba(113,129,132,0.14) url(static/icons/strizh3.png); ">-->
<div class="everything">
    <div class="map-info" style="margin: 1%">

        <div class="row">
            <div class="col-8 ">
                <div class="map-box" style="height: 60vh; width:98%; solid:#ffffff">
                    <div class="row" style="margin: 1%">
                        <a href="menu">
<!--                            <img src="static/icons/asb2.png" alt="on" style="max-width: 40px;">-->
                            <img src="static/icons/str_logo.png" alt="on" style="max-width: 40px;">
                        </a>

                        <form action="menu" method='GET'>
                            <button class="button-black" style="margin-left: 10px"> Меню</button>
                        </form>
                        <form action="main" method='GET'>
                            <button class="button-black"> Главная</button>
                        </form>
                        <form action="journal" method='GET'>
                            <button class="button-black"> Журнал</button>
                        </form>
                        <form action="configuration" method='GET'>
                            <button class="button-black"> Конфигуратор</button>
                        </form>
                        <form action="admin" method='GET'>
                            <button class="button-black"> Администратор</button>
                        </form>
                    </div>
                    <div class="leaflet-container" style="border: 0.5vh ">

                        {% leaflet_map "map" callback="window.map_init_basic" %}
                    </div>


                </div>
                <div class="information-bottom-left" style="height: 30vh; margin-top: 10px; border: 0.5vh">
                    <h3 style="margin-top: 4%"> Информация о засечках </h3>
                    <div id="detections" style="margin: 10px 0;
                    width: 100%; height: 230px">
                        <table id="detections_table">
                            <thead>
                            <tr>
                                <th>Время</th>
                                <th>Имя дрона</th>
                                <th>Хост</th>
                                <th>Имя поста</th>
                                <th>Радиус, м</th>
                                <th>Азимут</th>
                                <th>Комментарий</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for dron in info_drones%}
                            <!--                                <tbody class="scrollContent">-->

                            <tr>
                                <td>{{dron.detection_time}}</td>
                                <td>{{dron.system_name}}</td>
                                <td>{{dron.ip}}</td>
                                <td>{{dron.strig_name}}</td>
                                <td>{% widthratio dron.area_radius_m 1 1 %}</td>
                                <td>{{ dron.azimuth|get_int }}</td>
                                <td>{{dron.comment_string}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="strizhes-all" style="height: 280px; ">
                    <!--border: 0.5vh solid rgb(255,255,255)">-->
                    <div class="strizh" style="margin-left: 5%;margin-top: 1%">
                        <div class="row" style="margin-top: 2%;margin-left: 0.5%; width: 100%">
                            <form action="choose_all_strizhes" method="post">
                                {% csrf_token %}
                                <button class="btn btn-primary">
                                    Управление всеми стрижами
                                </button>
                            </form>
                        </div>
                        <div class="row" style="margin-top: 2%;margin-left: 0.5%; width: 100%">

                            <div style="width: 100%">
                                <h3>
                                    Управление одним стрижом
                                </h3>
                            </div>
                            <h5>
                                <form action="choose_nomer_strizha" method="post">
                                    {% csrf_token %}
                                    {{ form }}
                                    <button class="btn btn-primary">
                                        ввод
                                    </button>
                                </form>
                            </h5>
                        </div>
                        <div class="row">
                            <h5 style="text-align: center; margin-left: 2%">
                                {% if chosen_strizh != all_strizhes %}
                                Выбран
                                {% for striz in chosen_strizh %}
                                {% if striz != 'None' %}
                                {{ striz }}
                                {% endif %}
                                {% endfor%}
                                {% else %}
                                Выбраны все
                                {% endif %}
                            </h5>
                        </div>

                        <div class="strizh-each" style="margin-left: 0.5%">
                            <div class="row">

                                <form action='butt_scan' method='GET'>
                                    <button class="button-green" type='submit'> Сканирование</button>
                                </form>
                                <form action='butt_glush' method='GET'>
                                    <button class="button-green">Глуш.</button>
                                </form>
                                <form action='butt_gps' method='GET'>
                                    <button id="btn_green" class="button-green"> GPS глуш.</button>
                                </form>
                                <form action='butt_ku' method='GET'>
                                    <button class="button-green">КУ глуш.</button>
                                </form>
                            </div>

                        </div>


                    </div>

                </div>
                <div class="information-bottom"
                     style="height: 65%; margin-top: 5px;">
                    <!--                    border: 0.5vh solid rgb(255,255,255)">-->

                    {% if action_strizh %}
                    <div class="row" style="margin-left: 3%">
                        {% for striz in chosen_strizh %}
                        {% if striz != 'None' %}
                        {% if complex_state_dict|getkey:striz == 'включен' %}


                        {% else %}
                        <h4 style="font-weight:600; font-family: Calibri,
                            sans-serif; margin-left: 2%; color: #a10202">
                            Необходимо включить {{striz}} </h4>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        <h4 style="color: #2b2b2b; font-weight:600; font-family: Calibri, sans-serif; margin-left: 2%;">
                            Включен режим: </h4>
                        <!--                        &nbsp;-->
                        <h4 style="color: #2c3a97; font-weight:600; font-family: Calibri, sans-serif; margin-left: 2%;">
                            {{action_strizh}}
                        </h4>
                    </div>
                    {% endif %}

                    {% if chosen_strizh != all_strizhes %}
                    <form action='main' style="margin: 2.5% 35px" method='GET'>
                        {% for striz in chosen_strizh %}
                        {% if striz != 'None' %}
                        <h5> Температура: {{ temperature_dict|getkey:striz }} &deg </h5>
                        <h5> Влажность: {{ humidity_dict|getkey:striz }}% </h5>
                        <h5> Состояние: {{ weather_state_dict|getkey:striz }} </h5>
                        <h5> Стриж:
                            {% if complex_state_dict|getkey:striz == 'включен' %}
                            <span style="color: #027d1e"> {{ complex_state_dict|getkey:striz }} </span>
                            {% else %}
                            <span style="color: #a10202"> {{ complex_state_dict|getkey:striz }} </span>
                            {% endif %}
                        </h5>

                        {% endif %}
                        {% endfor %}
                    </form>
                    {% elif chosen_strizh == all_strizhes %}
                    <div class="row">
                        <div class="col-12">
                            <div class="box-scroll" style="height: 150px; background-color: rgb(255,255,255)">
                                <form action='main' style="margin: 10px 15px" method='GET'>
                                    {% for striz in chosen_strizh %}
                                    {% if striz != 'None' %}
                                    {% if weather_state_dict|getkey:striz == 'ошибка соединения с uniping' %}
                                    <h5 style="color: #aa0505">
                                        {{striz}}:
                                        {{ complex_state_dict|getkey:striz }}.
                                        {{ weather_state_dict|getkey:striz }}
                                    </h5>
                                    {% elif complex_state_dict|getkey:striz == 'выключен' %}
                                    <h5 style="color: #aa0505">
                                        {{striz}}:
                                        {{ complex_state_dict|getkey:striz }}
                                    </h5>
                                    {% elif complex_state_dict|getkey:striz == 'включен' %}
                                    <h5 style="color: #165c27"> {{striz}}:
                                        {{ complex_state_dict|getkey:striz }} </h5>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row" style="margin: 0.5%;">
                        <div class="col-6">
                            <form action='turn_on_bp' method='GET'>
                                {% if chosen_strizh != all_strizhes %}
                                <button class="button-green-on">
                                    {% for striz in chosen_strizh %}
                                    {% if striz != 'None' %}
                                    <!--                                    <img src="static/icons/onoff.png" alt="on" style="max-width: 10%;">-->
                                    Включение {{striz}}

                                    {% endif %}
                                    {% endfor %}

                                </button>
                                {% else %}
                                <button class="button-green-on">Включение комплекса</button>
                                {% endif %}
                            </form>
                        </div>
                        <div class="col-6">
                            <form action='turn_off_bp' method='GET'>
                                {% if chosen_strizh != all_strizhes %}
                                <button class="button-red">
                                    {% for striz in chosen_strizh %}
                                    {% if striz != 'None' %}
                                    <!--                                    <img src="static/icons/onoff.png" alt="on" style="max-width: 10%;">-->
                                    Выключение {{striz}}

                                    {% endif %}
                                    {% endfor %}

                                </button>
                                {% else %}
                                <button class="button-red">Выключение комплекса</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>

                    <div class="box-scroll" style="; background-color: rgb(255,255,255)">
                        <form action='show_logs' method='GET'>

                            {% for el in logs_list reversed %}
                            {{ el }} <br>
                            {% endfor %}

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>


</body>
</html>
