<!DOCTYPE html>
{% load leaflet_tags %}

<html>
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
    <title>Leaflet.draw vector editing handlers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset=utf-8>

    <link rel="stylesheet" href="/static/styles.css"/>

    <script src="/static/src/libs/leaflet-src.js"></script>
    <link rel="stylesheet" href="/static/src/libs/leaflet.css"/>

    <script src="/static/src/Leaflet.draw.js"></script>
    <script src="/static/src/Leaflet.Draw.Event.js"></script>
    <link rel="stylesheet" href="/static/src/leaflet.draw.css"/>

    <script src="/static/src/Toolbar.js"></script>
    <script src="/static/src/Tooltip.js"></script>

    <script src="/static/src/ext/GeometryUtil.js"></script>
    <script src="/static/src/ext/LatLngUtil.js"></script>
    <script src="/static/src/ext/LineUtil.Intersect.js"></script>
    <script src="/static/src/ext/Polygon.Intersect.js"></script>
    <script src="/static/src/ext/Polyline.Intersect.js"></script>
    <script src="/static/src/ext/TouchEvents.js"></script>

    <script src="/static/src/draw/DrawToolbar.js"></script>
    <script src="/static/src/draw/handler/Draw.Feature.js"></script>
    <script src="/static/src/draw/handler/Draw.SimpleShape.js"></script>
    <script src="/static/src/draw/handler/Draw.Polyline.js"></script>
    <script src="/static/src/draw/handler/Draw.Marker.js"></script>
    <script src="/static/src/draw/handler/Draw.Circle.js"></script>
    <script src="/static/src/draw/handler/Draw.CircleMarker.js"></script>
    <script src="/static/src/draw/handler/Draw.Polygon.js"></script>
    <script src="/static/src/draw/handler/Draw.Rectangle.js"></script>

    <script src="/static/src/edit/EditToolbar.js"></script>
    <script src="/static/src/edit/handler/EditToolbar.Edit.js"></script>
    <script src="/static/src/edit/handler/EditToolbar.Delete.js"></script>

    <script src="/static/src/Control.Draw.js"></script>

    <script src="/static/src/edit/handler/Edit.Poly.js"></script>
    <script src="/static/src/edit/handler/Edit.SimpleShape.js"></script>
    <script src="/static/src/edit/handler/Edit.Rectangle.js"></script>
    <script src="/static/src/edit/handler/Edit.Marker.js"></script>
    <script src="/static/src/edit/handler/Edit.CircleMarker.js"></script>
    <script src="/static/src/edit/handler/Edit.Circle.js"></script>
    {% leaflet_js %}
    {% leaflet_css %}
    {% csrf_token %}

</head>
<body>
<div class="everything">
    <div class="map-info" style="margin: 1%">

        <div class="row">
            <div class="col-8 ">
                <div class="map-box" style="height: 70vh">
                    <div class="row" style="margin: 1%">
                        <form action="menu" method='GET'>
                            <button class="button-blue"> Меню</button>
                        </form>
                        <form action="main" method='GET'>
                            <button class="button-blue"> Главная</button>
                        </form>
                        <form action="journal" method='GET'>
                            <button class="button-blue"> Журнал</button>
                        </form>
                        <form action="configuration" method='GET'>
                            <button class="button-blue"> Конфигуратор</button>
                        </form>

                        <!--                        <form action="journal">-->
                        <!--                        <input type="submit" value="Журнал" />-->
                        <!--                        </form>-->
                    </div>
                    <div class="leaflet-container" style="border: 0.5vh solid #dfee99">

                        {% leaflet_map "main" %}
                    </div>


                </div>
                <div class="information-bottom" style="height: 25vh; margin-top: 1%; border: 0.5vh solid #dfee99">

                    Инфо по последним засечкам

                </div>

            </div>
            <div class="col-4">
                <div class="strizhes-all" style="height: 60vh; border: 0.5vh solid #dfee99">
                    <div class="strizh" style="margin-left: 5%;margin-top: 1%">
                        <div class="row">
                            <h3>
                                Все Стрижи
                            </h3>
                        </div>
                        <div class="strizh-for-all">
                            <div class="row">
                                <form action='butt_skan_all' method='GET'>
                                    <button class="button-green" type='submit'> Сканирование</button>
                                </form>
                                <form action='butt_glush_all' method='GET'>
                                    <button class="button-green">Глуш.</button>
                                </form>
                                <form action='butt_gps_all' method='GET'>
                                    <button class="button-green"> GPS глуш.</button>
                                </form>
                                <form action='butt_ku_all' method='GET'>
                                    <button class="button-green">КУ глуш.</button>
                                </form>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 2%">
                            <h3>
                                <form action="choose_nomer_strizha" method="post">
                                    {% csrf_token %}
                                    Стриж #
                                    <input type="number" style="width: 15%" name="nomer_strizha"
                                           placeholder={{ nomer }}>
                                    <input type="submit" value="ввод">
                                </form>
                            </h3>
                            <!--                            <form action="update_nomer_strizha" method="get">-->
                            <!--                                upd {{  nomer }}-->
                            <!--                                <input type="submit" value="ввод">-->
                            <!--                            </form>-->

                        </div>
                        <div class="strizh-each">
                            <div class="row">
                                <form action='butt_skan' method='GET'>
                                    <button class="button-green" type='submit'> Сканирование</button>
                                </form>
                                <form action='butt_glush' method='GET'>
                                    <button class="button-green">Глуш.</button>
                                </form>
                                <form action='butt_gps' method='GET'>
                                    <button class="button-green"> GPS глуш.</button>
                                </form>
                                <form action='butt_ku' method='GET'>
                                    <button class="button-green">КУ глуш.</button>
                                </form>
                            </div>
                        </div>

                        <!--                        <div id="demo"></div>-->
                        <!--                        <script>-->
                        <!--                            var x = "", i;-->
                        <!--                            var res = "shit";-->
                        <!--                            var l = {{complex_state}}-->
                        <!--                            for (i = 1; i <= 6; i++) {-->
                        <!--                                x = x + "<h" + i + ">Heading " + i + "</h" + i + ">";-->
                        <!--                            }-->
                        <!--                            document.getElementById("demo").innerHTML = res;-->
                        <!--                        </script>-->
                    </div>

                </div>
                <div class="information-bottom" style="height: 37vh; margin-top: 1%; border: 0.5vh solid #dfee99">
                    Служебка, Uniping, АГМ, логи
                    <!--                    <a href="http://192.168.2.51/termo.html"> Термодатчики</a>-->
                    <!--                    <a href="http://192.168.2.51/curdet.html"> Датчик дыма </a>-->
                    <!--                    <a href="http://192.168.2.51/rh.html"> Датчик влажности </a>-->
                    <!--                    <a href="http://192.168.2.51/log.html"> Журнал </a>-->

                    <form action='functioning_loop' method='GET'>
                        <h5> Температура: {{ temperature }}&deg,</h5>
                        <h5> Влажность: {{ humidity }}%,</h5>
                        <!--                        <h5>Температура датчика влажности: {{humidity_temp}}&deg</h5>-->
                        <h5> Состояние: {{ weather_state }}</h5>
                        <h5> Комплекс {{ complex_state }} </h5>

                        <h5>
                        </h5>
                    </form>
                    <div class="box-scroll">
                        <form action='show_logs' method='GET'>

                            {% for el in logs_list %}
                                {{ el }} <br>
                            {% endfor %}
                        </form>
                    </div>

                    <div class="row" style="margin: 2%;">
                        <form action='turn_on_bp' method='GET'>
                            <button class="button-green-small">Включение комплекса</button>
                        </form>
                        <form action='turn_off_bp' method='GET'>
                            <button class="button-red">Выключение комплекса</button>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>


</div>

<script>
    {#var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',#}
    {#    osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',#}
    {#    osm = L.tileLayer(osmUrl, {maxZoom: 18, attribution: "ASB Production"}),#}
    {#    map = new L.Map('map', {center: new L.LatLng(60.014356, 30.452744), zoom: 13}),#}
    {#    drawnItems = L.featureGroup().addTo(map);#}
    {#L.control.layers({#}
    {#    'osm': osm.addTo(map),#}
    {#    "google": L.tileLayer('http://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}', {#}
    {#            attribution: 'google'#}
    {#        },#}
    {#    ),#}
    {##}
    {#    .addTo(map);#}
    {##}
    {#map.addControl(new L.Control.Draw({#}
    {#    edit: {#}
    {#        featureGroup: drawnItems,#}
    {#        poly: {#}
    {#            allowIntersection: false#}
    {#        }#}
    {#    },#}
    {#    draw: {#}
    {#        polygon: {#}
    {#            allowIntersection: false,#}
    {#            showArea: true#}
    {#        }#}
    {#    }#}

    {##}
    {#map.on(L.Draw.Event.CREATED, function (event) {#}
    {#    var layer = event.layer;#}
    {##}
    {#    drawnItems.addLayer(layer);#}

    {#function main_map_init(map, options) {}#}

</script>

</body>
</html>
