<!DOCTYPE html>
{% load leaflet_tags %}
{% load geojson_tags %}
<!--{% leaflet_js %}-->
<!--{% leaflet_css %}-->

<html>
<head>
    <title>Leaflet.draw vector editing handlers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <meta charset=utf-8>

    <link rel="stylesheet" href="/static/styles.css"/>
    <script src="../static/src/leaflet.ajax.js"></script>
    <!--    <script src="../static/src/leaflet.sector.js"></script>-->
    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
    {% leaflet_js %}
    {% leaflet_css %}
    {% csrf_token %}
</head>


<body>
<h1>Office</h1>
<!--<h2>{{location}}</h2>-->

{{ location1 }}
<div class="leaflet-container" style=" height: 80vh; width: 90%; border: 0.5vh solid #dfee99">
    <!--   {% leaflet_map "mymap"%}-->
    {% leaflet_map "map" callback="window.map_init_basic" %}
</div>


<!--<script>-->
<!--    function map_init_basic(map, options) {-->
<!--        L.marker([60.014876, 30.451338]).addTo(map);-->
<!--    }-->
<!--</script>-->
<script type="text/javascript">
    var geojsonMarker = {
        "type": "FeatureCollection",
        "features": [
            {
                "type": "Feature",
                "properties": {},
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        30.454042553901676,
                        60.014775681757094
                    ]
                }
            }
        ]
    };
    var myObjects = {
        "type": "FeatureCollection",
        "features": [
            {
                "type": "Feature",
                "properties": {},
                "geometry": {
                    "type": "LineString",
                    "coordinates": [
                        [
                            30.45482039451599,
                            60.014365484549685
                        ],
                        [
                            30.456048846244812,
                            60.01466576012881
                        ]
                    ]
                }
            },
            {
                "type": "Feature",
                "properties": {},
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        30.454165935516357,
                        60.014730104540945
                    ]
                }
            }
        ]
    }
    var myStyle = {
        "color": "#ff7800",
        "weight": 5,
        "opacity": 0.65
    };

    // function map_init_basic(map, options) {
    //     L.geoJson(geojsonMarker, {style: myStyle}).addTo(map);
    // }

    function map_init_basic(map, options) {
        var geojsonMarker = {
            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                    "properties": {},
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            30.45331835746765,
                            60.014732785555395
                        ]
                    }
                },
                {
                    "type": "Feature",
                    "properties": {},
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            30.453994274139404,
                            60.01450757958334
                        ]
                    }
                },
                {
                    "type": "Feature",
                    "properties": {},
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            30.453983545303345,
                            60.01494726600732
                        ]
                    }
                },
                {
                    "type": "Feature",
                    "properties": {},
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            30.452492237091064,
                            60.0143359930511
                        ]
                    }
                }
            ]
        };

        $.getJSON('/geo/data/', function (data) {
            var logoMarkerStyle = L.Icon.extend({
                options: {
                    iconSize: [85, 90],
                    iconAnchor: [38, 86],
                    popupAnchor: [0, -80]
                }
            });
            // var logoMarker = new logoMarkerStyle({iconUrl: 'https://image.flaticon.com/icons/png/512/215/215767.png'});
            var logoMarker = new logoMarkerStyle({iconUrl: 'https://image.flaticon.com/icons/png/512/215/215736.png'});
            var len_arr = data.features.length
            console.log(geojsonMarker)
            console.log(data)
            console.log(len_arr)
            for (let step = 0; step < len_arr; step++) {
                data.features[step].geometry = {}
                data.features[step].geometry.coordinates = [0, 0]
                data.features[step].geometry.type = "Point"
                data.features[step].geometry.coordinates[0] = data.features[step].properties.lon
                data.features[step].geometry.coordinates[1] = data.features[step].properties.lat
                data.features[step].properties = {}
                // L.geoJson(data, {icon: logoMarker}).addTo(map);
                L.marker([data.features[step].geometry.coordinates[1], data.features[step].geometry.coordinates[0]], {icon: logoMarker}).addTo(map);
            }
            console.log(data);

        })

        $.getJSON('/geo/strizh_view/', function (data) {
            var logoMarkerStyle = L.Icon.extend({
                options: {
                    iconSize: [85, 90],
                    iconAnchor: [38, 86],
                    popupAnchor: [0, -80]
                }
            });
            var logoMarker = new logoMarkerStyle({
                iconUrl: 'https://cdn.iconscout.com/icon/free/png-256/antenna-' +
                    'electronics-signal-technology-wifi-radiowaves-6-3098.png'
            });
            var len_arr = data.features.length
            console.log(data)
            console.log(len_arr)
            for (let step = 0; step < len_arr; step++) {
                data.features[step].geometry = {}
                data.features[step].geometry.coordinates = [0, 0]
                data.features[step].geometry.type = "Point"
                data.features[step].geometry.coordinates[0] = data.features[step].properties.lon
                data.features[step].geometry.coordinates[1] = data.features[step].properties.lat
                data.features[step].properties = {}
                // L.geoJson(data, {icon: logoMarker}).addTo(map);
                L.marker([data.features[step].geometry.coordinates[1], data.features[step].geometry.coordinates[0]], {icon: logoMarker}).addTo(map);


                let sector1 = L.sector({
                    center: [data.features[step].geometry.coordinates[1], data.features[step].geometry.coordinates[0]],
                    innerRadius: 0,
                    outerRadius: 500,
                    startBearing: -30,
                    endBearing: 30,
                    color: 'red'
                });

                let arc1 = L.arc({
                    center: [data.features[step].geometry.coordinates[1], data.features[step].geometry.coordinates[0]],
                    radius: 500,
                    color: 'pink',
                    startBearing: 0,
                    endBearing: 360,

                });

                map.addLayer(sector1)
                map.addLayer(arc1)
            }

            console.log(data);

        })
    }


    // var layer = L.geoJson();
    // map.addLayer(layer);
    // $.getJSON("geojson_file.json", function (data) {
    //     layer.addData(data);
    // });

    // $.getJSON("data.geojson", function (data) {
    //     var geojson = L.geoJson(data, {
    //         onEachFeature: function (feature, layer) {
    //             layer.bindPopup('pop-up content');
    //         }
    //     });
    //     geojson.addTo(map);
    // });


</script>


</body>
</html>