<!DOCTYPE html>
{% load leaflet_tags %}
{% load geojson_tags %}
<!--{% leaflet_js %}-->
<!--{% leaflet_css %}-->

<html>
<head>
    <title>Leaflet.draw vector editing handlers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <meta charset=utf-8>

    <link rel="stylesheet" href="/static/styles.css"/>
    <script src="../static/src/leaflet.ajax.js"></script>
    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
    {% leaflet_js %}
    {% leaflet_css %}
    {% csrf_token %}
</head>


<body>
<h1>Office</h1>
<!--<h2>{{location}}</h2>-->

{{ location1 }}
<div class="leaflet-container" style=" height: 80vh; width: 90%; border: 0.5vh solid #dfee99">
    <!--   {% leaflet_map "mymap"%}-->
    {% leaflet_map "map" callback="window.map_init_basic" %}
</div>


<!--<script>-->
<!--    function map_init_basic(map, options) {-->
<!--        L.marker([60.014876, 30.451338]).addTo(map);-->
<!--    }-->
<!--</script>-->
<script type="text/javascript">
    var geojsonMarker = {
        "type": "FeatureCollection",
        "features": [
            {
                "type": "Feature",
                "properties": {},
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        30.454042553901676,
                        60.014775681757094
                    ]
                }
            }
        ]
    };
    var myObjects = {
        "type": "FeatureCollection",
        "features": [
            {
                "type": "Feature",
                "properties": {},
                "geometry": {
                    "type": "LineString",
                    "coordinates": [
                        [
                            30.45482039451599,
                            60.014365484549685
                        ],
                        [
                            30.456048846244812,
                            60.01466576012881
                        ]
                    ]
                }
            },
            {
                "type": "Feature",
                "properties": {},
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        30.454165935516357,
                        60.014730104540945
                    ]
                }
            }
        ]
    }
    var myStyle = {
        "color": "#ff7800",
        "weight": 5,
        "opacity": 0.65
    };

    // function map_init_basic(map, options) {
    //     L.geoJson(geojsonMarker, {style: myStyle}).addTo(map);
    //     var raw_data = '{{location}}';
    //     console.log(raw_data);
    // }

    function map_init_basic(map, options) {
        var raw_data1 = '{{location1}}'
        var raw_data2 = '{"type": "Feature", "properties": {"name": "Location Location Location"}, ' +
            '"geometry": {"type": "Point", "coordinates": [30.45482039451599, 60.014365484549685]}}'
        console.log(typeof (raw_data1));
        console.log(typeof (raw_data2));
        // var data = JSON.parse(raw_data1);
        console.log(data);
        L.geoJSON(data).addTo(map);
    }


    // var layer = L.geoJson();
    // map.addLayer(layer);
    // $.getJSON("geojson_file.json", function (data) {
    //     layer.addData(data);
    // });

    // $.getJSON("data.geojson", function (data) {
    //     var geojson = L.geoJson(data, {
    //         onEachFeature: function (feature, layer) {
    //             layer.bindPopup('pop-up content');
    //         }
    //     });
    //     geojson.addTo(map);
    // });


</script>


</body>
</html>